function MathTest.init 0
function MathTest.abs 0
push argument 0
push constant 0
lt
if-goto IF_TRUE_0
goto IF_END_0
label IF_TRUE_0
push argument 0
neg
return
goto IF_END_0
label IF_END_0
push argument 0
return
function MathTest.multiply 5
push argument 0
push constant 0
eq
if-goto IF_TRUE_0
goto IF_END_0
label IF_TRUE_0
push constant 0
return
goto IF_END_0
label IF_END_0
push argument 1
push constant 0
eq
if-goto IF_TRUE_1
goto IF_END_1
label IF_TRUE_1
push constant 0
return
goto IF_END_1
label IF_END_1
push constant 1
pop local 1
push argument 0
pop local 2
label WHILE_START_0
push local 3
push constant 16
lt
not
if-goto WHILE_END_0
push argument 1
push local 1
and
pop local 4
push local 4
push constant 0
eq
not
if-goto IF_TRUE_2
goto IF_END_2
label IF_TRUE_2
push local 0
push local 2
add
pop local 0
goto IF_END_2
label IF_END_2
push local 2
push local 2
add
pop local 2
push local 1
push local 1
add
pop local 1
push local 3
push constant 1
add
pop local 3
goto WHILE_START_0
label WHILE_END_0
push local 0
return
function MathTest.devide 0
push constant 0
return
function MathTest.min 0
push argument 0
push argument 1
lt
if-goto IF_TRUE_0
goto IF_END_0
label IF_TRUE_0
push argument 0
return
goto IF_END_0
label IF_END_0
push argument 1
return
function MathTest.max 0
push argument 0
push argument 1
lt
if-goto IF_TRUE_0
goto IF_END_0
label IF_TRUE_0
push argument 1
return
goto IF_END_0
label IF_END_0
push argument 0
return
function MathTest.bit 0
